@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    margin-top:0px;
    margin-left: 0px;
    margin-right: 0px;
}
.nav-bar{
    display: flex;
    background-color: #4bc4eb;
    height: 60px;
    font-size: 1.5rem;
    justify-content: space-between;
    align-items: center;
    color:white;
    padding-left:10px;
    padding-right:10px;
}
#profiles, #links{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
#profiles div, #links div{
    padding-left:10px;
    padding-right:10px;
}
#profiles div a{
    color: inherit;
}
#about{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#about div h1{
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
}
div#headshot img{
    border-radius: 150px;
}
div#about-text{
    font-family: 'Lato', sans-serif;
    font-size: 1.25rem;
    margin-top: 40px;
    width: 50%;
}

/*
#profiles div{
    padding: 10px;
}
*/