<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <script src="https://use.fontawesome.com/9837b97a2b.js"></script>
        <title>About - Evan DePosit</title>
        <link rel="icon" href="./favicon.png">
    </head>
    <body>
        <!-- navabar -->
        {{> navPartial}} 
        <!-- about content-->
        <div id="about">
            <div class="page-title">
                <h1>About</h1>
            </div>
            <div id="headshot">
                <img src="./img/headshotSq.jpg" alt="head shot" width="300" height="300" >
            </div>
            <!-- 
            <div>
                <h2>Evan DePosit</h2>
            </div>
               -->
            <div id="about-text">
                <p>
                I am seeking full-stack and back-end software development roles. I am drawn to coding because I love being confronted with puzzles, the rush of solving a bug, and learning new skills and tools. My past positions as a full-stack development intern and high school teacher have taught me to work productively in team settings and fostered my ability to balance the demand of executing and planning multiple projects while adhering to different project schedules simultaneously.
                </p>
            </div>
        </div>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <script src="script.js" async defer></script>
    </body>
</html>