<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
        <script src="https://use.fontawesome.com/9837b97a2b.js"></script>
        <title>Contact - Evan DePosit</title>
        <link rel="icon" href="./favicon.png">
    </head>
    <body>
        <!-- navabar -->
        {{> navPartial}} 
        <!-- title-->
        <div class="page-title" id=project-title>
            <h1>Contact</h1>
        </div>
        <!-- contact -->
        <div class="content" id="contact-container">
            <div id="contact-form">
                <p>
                    For questions or inquires contact me at <a href="ejdeposit@gmail.com"> ejdeposit@gmail.com</a> or fill out the form below.
                </p>
                <form name="contact" method="POST" data-netlify="true" class="item">
                    <div>
                        <div>
                          <label for="name">Your Name: </label>   
                        </div>
                        <div>
                            <input type="text" name="name" />
                        </div>
                    </div>
                    <div>
                        <div>
                          <label for="email">Your Email: </label>
                        </div>
                        <div>
                            <input type="email" name="email" />
                        </div>
                    </div>
                    <div>
                        <div>
                          <label>Message: </label>
                        </div>
                        <div>
                            <textarea name="message"></textarea>
                        </div>
                    </div>
                    <div>
                      <button type="submit">Send</button>
                    </div>
                </form> 
            </div>
        </div>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <script src="script.js" async defer></script>
    </body>
</html>