<nav>
    <div class="nav-bar">
        <div id="mobile-menu">
            <i class="fa fa-bars"></i>
        </div>
        <div id="links">
            <div><a href="./index.html">Home</a></div>
            <div><a href="./about.html">About</a></div>
            <div><a href="./projects.html">Projects</a></div>
            <div><a href="./contact.html">Contact</a></div>
            <div><a href="./resume.pdf" target="_blank" rel="noopener noreferrer">Resume</a></div>
        </div>
        <div id="profiles">
            <div>
                <a href="https://www.linkedin.com/in/evan-deposit/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
            <div>
                <a href="https://github.com/ejdeposit"><i class="fa fa-github"></i></a>
            </div>
        </div>
    </div>
    <div class="hidden drop-down">
        <div><a href='./index.html'>Home</a></div>
        <div><a href='./about.html'>About</a></div>
        <div><a href="./projects.html">Projects</a></div>
        <div><a href="./contact.html">Contact</a></div>
        <div><a href="./resume.pdf" target="_blank" rel="noopener noreferrer">Resume</a></div>
    </div> 
</nav>